body {
    font-family: "Avenir", "Calibri", "Sans-Serif";
    overflow: hidden;
    padding: 0px;
    background-image: url("hintergrund.jpg");
    background-size: cover;
}

.kartenSchaltflaeche {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.kartenSchaltflaeche:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

.karte {
    position: relative;
    padding: 0px;
    top: -80%;
    background-size: cover;
    image-rendering: -webkit-optimize-contrast;
}

.eigeneHandkarte, .eigeneOffeneKarte, .spielerObenLinksHandkarte, .spielerObenLinksOffeneKarte, .mitteKarte {
    float: left;
}

.spielerObenRechtsHandkarte, .spielerObenRechtsOffeneKarte, .spielerUntenRechtsHandkarte, .spielerUntenRechtssOffeneKarte {
    float: right;
}

#eigeneHandkarten, #eigeneOffeneKarten, #spielerObenLinksHandkarten, #spielerObenLinksOffeneKarten, #spielerObenRechtsHandkarten, #spielerObenRechtsOffeneKarten, #spielerUntenRechtsHandkarten, #spielerUntenRechtsOffeneKarten, #mitte {
    position: absolute;
}

#ablagestapelTuer, #nachziehstapelTuer, #nachziehstapelSchatz, #ablagestapelSchatz {
    float: left;
    cursor: pointer;
}

#stapel {
    width: 0px;
    top: 100px;
    margin: 0px auto;
}

#ablagestapelTuer {
    position: relative;
    top: 40px;
    left: 0px;
}

#nachziehstapelTuer {
    position: relative;
    top: 0px;
    left: 0px;
}

#nachziehstapelSchatz {
    position: relative;
    top: 0px;
    left: 0px;
}

#ablagestapelSchatz {
    position: relative;
    top: 40px;
    left: 0px;
}

.spielerInfo {
    background-color: rgba(200,200,200,0.75);
    height: 50px;
    position: absolute;
    padding: 0px;
}

.spielerName {
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.punktestand, .geschlecht {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.5em;
}

#spielstandKlicker, #spielstandErhoehen, #spielstandErniedrigen {
    width: 30px;
}

#spielstandKlicker {
    height: 50px;
    position: relative;
    top: 0px;
    left: 0px;
    float: left;
}

#spielstandErhoehen, #spielstandErniedrigen {
    float: top;
    height: 25px;
    cursor: pointer;
    background-color: rgba(100,100,100,0);
}

#spielstandErhoehen:hover, #spielstandErniedrigen:hover, #eigenesGeschlecht:hover {
    background-color: rgba(100,100,100,0.35);
}

#aufraeumenButton {
    height: 100px;
    background-color: rgba(200, 200, 200, 0.75);
    float: left;
    cursor: pointer;
    line-height: 160px;
}

#aufraeumenButton:hover {
    background-color: rgba(150, 150, 150, 0.75);
}
