body {
    font-family: "Avenir", "Calibri", "Sans-Serif";
    overflow: hidden;
    padding: 0px;
    background-image: url("hintergrund.jpg");
    background-size: cover;
}

.kartenSchaltflaeche {
    position: relative;
    cursor: pointer;
}

.kartenSchaltflaeche:hover {
    filter: brightness(80%);
}

.karte {
    display: inline-block;
    position: relative;
    float: inherit;
}

.angehaengteKarte {
    position: absolute;
    top: 20%;
    left: 0px;
}

#eigeneHandkarten, #eigeneOffeneKarten, #spielerObenLinksHandkarten, #spielerObenLinksOffeneKarten, #spielerObenRechtsHandkarten, #spielerObenRechtsOffeneKarten, #spielerUntenRechtsHandkarten, #spielerUntenRechtsOffeneKarten, #mitte {
    display: inline-block;
    position: absolute;
}

#mitte {
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

#eigeneHandkarten {
    bottom: 0px;
    left: 0px;
}

#eigeneOffeneKarten {
    left: 0px;
}

#spielerObenLinksHandkarten {
    top: 0px;
    left: 0px;
}

#spielerObenLinksOffeneKarten {
    left: 0px;
}

#spielerObenRechtsHandkarten {
    top: 0px;
    right: 0px;
    float: right;
}

#spielerObenRechtsOffeneKarten {
    right: 0px;
    float: right;
}

#spielerUntenRechtsHandkarten {
    bottom: 0px;
    right: 0px;
    float: right;
}

#spielerUntenRechtsOffeneKarten {
    bottom: 9vw;
    right: 0px;
    float: right;
}

#ablagestapelTuer, #nachziehstapelTuer, #nachziehstapelSchatz, #ablagestapelSchatz {
    float: left;
    cursor: pointer;
}

.stapelKarte {
    width: 5vw;
}

#stapel {
    position: absolute;
    top: 2%;
    left: 50vw;
    transform: translateX(-50%);
}

#ablagestapelTuer {
    position: relative;
    top: 1.25vw;
    left: 0px;
}

#nachziehstapelTuer {
    position: relative;
    top: 0px;
    left: 0px;
}

#nachziehstapelSchatz {
    position: relative;
    top: 0px;
    left: 0px;
}

#ablagestapelSchatz {
    position: relative;
    top: 1.25vw;
    left: 0px;
}

.spielerInfo {
    background-color: rgba(200,200,200,0.75);
    height: 50px;
    position: absolute;
    padding: 0px;
}

.spielerName {
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.punktestand, .geschlecht {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.5em;
}

#spielstandKlicker, #spielstandErhoehen, #spielstandErniedrigen {
    width: 30px;
}

#spielstandKlicker {
    height: 50px;
    position: relative;
    top: 0px;
    left: 0px;
    float: left;
}

#spielstandErhoehen, #spielstandErniedrigen {
    float: top;
    height: 25px;
    cursor: pointer;
    background-color: rgba(100,100,100,0);
}

#spielstandErhoehen:hover, #spielstandErniedrigen:hover, #eigenesGeschlecht:hover {
    background-color: rgba(100,100,100,0.35);
}

/* TODO: Prüfen, was hier mit vw und vh abgeht. Dann entfernen und mit Javascript regeln */

#aufraeumenButton {
    height: 5vw;
    background-color: rgba(200, 200, 200, 0.75);
    float: left;
    cursor: pointer;
    line-height: 8vw;
}

#aufraeumenButton:hover {
    background-color: rgba(150, 150, 150, 0.75);
}
